In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
data = pd.read_csv('indonesia_salary.csv')
data.head()

           REGION  SALARY  YEAR
0            ACEH  128000  1997
1  SUMATERA UTARA  151000  1997
2  SUMATERA BARAT  119000  1997
3            RIAU  151500  1997
4           JAMBI  119500  1997

In [3]:
data.columns

Index(['REGION', 'SALARY', 'YEAR'], dtype='object')

In [5]:
data.REGION.unique()

array(['ACEH', 'SUMATERA UTARA', 'SUMATERA BARAT', 'RIAU', 'JAMBI',
       'SUMATERA SELATAN', 'BENGKULU', 'LAMPUNG', 'KEP. RIAU',
       'DKI JAKARTA', 'JAWA BARAT', 'JAWA TENGAH', 'DI YOGYAKARTA',
       'JAWA TIMUR', 'BALI', 'NUSA TENGGARA BARAT', 'NUSA TENGGARA TIMUR',
       'KALIMANTAN BARAT', 'KALIMANTAN TENGAH', 'KALIMANTAN SELATAN',
       'KALIMANTAN TIMUR', 'SULAWESI UTARA', 'SULAWESI TENGAH',
       'SULAWESI SELATAN', 'SULAWESI TENGGARA', 'MALUKU', 'PAPUA',
       'INDONESIA', 'KEP. BANGKA BELITUNG', 'BANTEN', 'GORONTALO',
       'MALUKU UTARA', 'SULAWESI BARAT', 'PAPUA BARAT',
       'KALIMANTAN UTARA'], dtype=object)

In [7]:
data['REGION'] = data['REGION'].str.strip()

In [8]:
data.dropna(axis = 0, subset =['SALARY'], inplace = True)
data['SALARY'] = data['SALARY'].astype('str')

In [9]:
data = data[~data['SALARY'].str.contains('C')]

In [11]:
YEAR = (data[data['YEAR'] == "1997"]
                 .groupby(['REGION', 'YEAR'])['SALARY']
                 .sum().unstack().reset_index().fillna(0)
                 .set_index('REGION'))

In [12]:
def hot_encode(x) :
  if(x <= 0) :
    return 0
  if(x >= 1) :
    return 1

In [14]:
YEAR_encoded = YEAR.applymap(hot_encode)
YEAR = YEAR_encoded

In [15]:
frq_items = apriori(YEAR, min_support = 0.05, use_colnames = True)

/usr/local/lib/python3.10/dist-packages/mlxtend/frequent_patterns/apriori.py:158: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  itemsets = pd.Series([frozenset(i) for i in itemset_dict[k]])

In [ ]:
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
print(rules.head())

In [ ]:
frq_items = apriori(YEAR, min_support = 0.01, use_colnames = True)
rules = association_rules(frq_items, metric = "lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
print(rules.head())